<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>RQ dashboard FastAPI</title>

</head>

<body>
    {% include "rq-dashboard-fast/header.html"%}

    {%if depreciation_options_usage%}
    <p class="alert-danger sticky-top" style="text-align: center;">
        You are using deprecated options, pay attention to --help or readme.md to update your settings!<br>
        {% for option in deprecation_options_usage %}
        option {{ option }} is deprecated<br>
        {% endfor %}
    </p>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div id="confirmation-modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Do you really want to <span id="confirmation-modal-action"></span>?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmation-modal-no" class="btn">No</button>
                    <button type="button" id="confirmation-modal-yes" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    {% include "rq-dashboard-fast/footer.html"%}

</body>

</html>