<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block page_title %}RQ Dashboard FastAPI{% endblock %}</title>
    <link rel="stylesheet" href="{{ prefix }}/static/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block extra_head %}{% endblock %}
  </head>

  <body
    data-prefix="{{ prefix | default('') }}"
    data-protocol="{{ protocol | default('http') }}"
  >
    {% include "header.html"%}
    <main class="page-content">{% block content %}{% endblock %}</main>
    {% include "footer.html"%}
    <script src="{{ prefix }}/static/js/dashboard.js"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
