<header id="header-dashboard" class="header-light">
  <div class="header-brand-container">
    <a class="header-brand" href="{{ prefix|default('', true) }}/jobs">RQ-Dashboard FastAPI</a>
  </div>
  <nav aria-label="Primary">
    <ul class="header-nav">
      <li class="header-item">
        <a href="{{ prefix|default('', true) }}/jobs" class="header-link">Jobs</a>
      </li>
      <li class="header-item">
        <a href="{{ prefix|default('', true) }}/queues" class="header-link">Queues</a>
      </li>
      <li class="header-item">
        <a href="{{ prefix|default('', true) }}/workers" class="header-link">Workers</a>
      </li>
      <li class="header-item">
        <a href="{{ prefix|default('', true) }}/export" class="header-link">Export Data</a>
      </li>
    </ul>
  </nav>
</header>