body {
    background-color: #f8f9fa;
}

#header-wrapper {
    background-color: #ececec;
    padding: 10px;
    border-radius: 15px;
}

#header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    padding: 10px;
}

.header-nav {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.header-item {
    margin-right: 10px;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.header-link {
    text-decoration: none;
    color: black;
}

.custom-control-label {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.custom-control {
    padding: 20px;
}

.custom-switch {
    margin-bottom: 20px;
}

.footer-wrapper {
    padding: 10px;
    border-radius: 15px;
}

.container {
    background: white;
    margin-top: 3em;
}

#content {
    background: yellow;
}

.section {
    border: solid 1px #ddd;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    max-width: 90%;
    margin: 0 auto;
    background-color: steelblue;
}

p.intro {
    min-height: 2em;
    padding-top: .8em;
    color: #888;
}

p.fixed.intro {
    height: 5em;
}

h1 {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    color: steelblue;
}

h2 {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    color: steelblue;
}

h3 {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    color: black;
}

table,
table tr,
table tr td {
    background-color: snow;
}

table tbody tr td.narrow {
    width: 100px;
}

#queues {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#queues th,
#queues td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#queues th {
    background-color: #f2f2f2;
}

#queues tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

pre.exc_info {
    font-size: 80%;
    color: #555;
    margin-left: 24px;
    border-left: 2px solid darkorange;
    background-color: lightgoldenrodyellow;
    white-space: pre-wrap;
}

#workers {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#workers th,
#workers td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#workers th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#workers tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#workers tbody tr:hover {
    background-color: #f0f0f0;
}

#workers td {
    max-width: 200px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody tr td {
    vertical-align: middle;
}

table tr.failed {
    color: red;
    border-top: 2px solid red;
}

table tr.failed a {
    color: red;
}

table tr.failed td {
    background-color: lightgoldenrodyellow;
}

#jobs {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#jobs th,
#jobs td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#jobs th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#jobs tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#jobs tbody tr:hover {
    background-color: #f0f0f0;
}

#jobs td {
    max-width: 200px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody tr td {
    vertical-align: middle;
}

table tr.failed {
    color: red;
    border-top: 2px solid red;
}

table tr.failed a {
    color: red;
}

table tr.failed td {
    background-color: lightgoldenrodyellow;
}

span.loading {
    font-size: .8em;
    color: #555;
}

#alert-fixed {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25%;
    z-index: 9999;
    text-align: center;
    display: none;
}

#rq-instances {
    margin-left: 15px;
    margin-right: 13px;
    width: auto;
}

#select-registry,
#select-per-page,
#select-queue {
    width: auto;
}

.header {
    border-bottom: solid 1px #ddd;
}

#header-dashboard {
    background-color: #ececec;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

#filter-form {
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
}

.ellipsify {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#autorefresh-intro {
    margin-bottom: 0;
    font-size: 90%;
    color: #888;
}

.footer-text {
    text-align: center;
    font-size: 80%;
    color: #000000ad;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.footer-text a {
    color: #000000ad;
}

#rq-instances:disabled {
    color: black;
}

.delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: #cc0000;
}