{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jobs Dashboard</title>
</head>

<body>
  {% block content %}
  <h2>Jobs</h2>
  <div class="section">
    <table id="jobs">
      <thead>
        <tr>
          <th>Job Type</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Started</td>
          <td>{{ job_data.started | length }}</td>
        </tr>
        <tr>
          <td>Failed</td>
          <td>{{ job_data.failed | length }}</td>
        </tr>
        <tr>
          <td>Deferred</td>
          <td>{{ job_data.deferred | length }}</td>
        </tr>
        <tr>
          <td>Finished</td>
          <td>{{ job_data.finished | length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}
</body>

</html>