{% extends "base.html" %}{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobs Dashboard</title>
    <script>
      function updateJobsData() {
        $.ajax({
          url: '/jobs/json',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            updateJobsTable(data);
          },
          error: function (error) {
            console.error('Error fetching jobs data: ', error);
          },
        });
      }

      function updateJobsTable(data) {
        var tableBody = $('#jobs tbody');
        tableBody.empty();

        $.each(data, function (index, queue) {
          $.each(queue.queued, function (jobIndex, job) {
            var row = $('<tr>');
            var jobLink = $('<a>')
              .attr('href', '/job/' + job.id)
              .text(job.id);
            row.append($('<td>').append(jobLink));
            row.append($('<td>').text(job.name));
            row.append($('<td>').text(job.created_at));
            row.append(
              $('<td>').append(
                $('<button>')
                  .text('Delete')
                  .addClass('delete-button')
                  .on('click', function () {
                    deleteJob(job.id);
                  })
              )
            );
            tableBody.append(row);
          });
        });
      }

      setInterval(updateJobsData, 5000);
    </script>
  </head>

  <body>
    <h2>Jobs</h2>
    <div class="section">
      <p>
        This list contains all the jobs that are currently queued. You can
        delete a job by clicking the delete button.
      </p>
      <table id="jobs">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for queue in job_data %} {% for job in queue.queued %}
          <tr>
            <td>
              <a href="{{ url_for('get_job_data', job_id=job.id) }}"
                >{{ job.id }}</a
              >
            </td>
            <td>{{ job.name }}</td>
            <td>{{ job.created_at }}</td>
            <td>
              <button class="delete-button" onclick="deleteJob('{{ job.id }}')">
                Delete
              </button>
            </td>
          </tr>
          {% endfor %} {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
{% endblock %}
