{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jobs Dashboard</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  {% block content %}
  <h2>Jobs</h2>
  <div class="section">
    <table id="jobs">
      <thead>
        <tr>
          <th>Status</th>
          <th>Count</th>
          <th>Jobs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Started</td>
          <td>{{ job_data.started | length }}</td>
          <td>
            {% for job_id in job_data.started %}
              {{ job_id }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>Failed</td>
          <td>{{ job_data.failed | length }}</td>
          <td>
            {% for job_id in job_data.failed %}
              {{ job_id }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>Deferred</td>
          <td>{{ job_data.deferred | length }}</td>
          <td>
            {% for job_id in job_data.deferred %}
              {{ job_id }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>Finished</td>
          <td>{{ job_data.finished | length }}</td>
          <td>
            {% for job_id in job_data.finished %}
              {{ job_id }}<br>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}
</body>

</html>
