{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Queues Dashboard</title>
</head>

<body>
  {% block content %}
  <h2>Queues</h2>
  <div class="section">
    <table id="queues">
      <thead>
        <tr>
          <th>Queue Name</th>
          <th>Queued</th>
          <th>Started</th>
          <th>Failed</th>
          <th>Deferred</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
        {% for queue_stats in queue_data %}
        <tr>
          <td>{{ queue_stats.queue_name }}</td>
          <td>{{ queue_stats.queued }}</td>
          <td>{{ queue_stats.started }}</td>
          <td>{{ queue_stats.failed }}</td>
          <td>{{ queue_stats.deferred }}</td>
          <td>{{ queue_stats.finished }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</body>

</html>