{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Workers Dashboard</title>
</head>

<body>
  {% block content %}
  <h2>Workers</h2>
  <div class="section">
    <ul>
      {% for worker in worker_data %}
      <li>
        <p>ID: {{ worker.id }}</p>
        <p>Name: {{ worker.name }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}
</body>

</html>